<h1>Add Enrollment</h1>

<%= form_for [@course, @enrollment] do |f| %>
  <%= f.label :role %>
  <%= f.select :role, ['ta', 'teacher', 'student'] %>

  <%= f.label :user %>
  <%= f.select :user_id, @users.collect { |u| [u.full_name, u.id]} %>

  <%= f.submit %>
<% end %>